nav {
    display: flex;
}

nav > .navlogo > img {
    width: 50px;
}

nav > .navmenu > ul {
    display: flex;
}

nav > .navmenu > ul > li {
    margin-right: 10px;
    list-style-type: none;
}

nav > .navmenu > ul > li:hover {
    color: rgb(110, 77, 220);
}

nav > .navmenu > ul > li > a {
    text-decoration: none;
    color: black;
}